/* BERNIE KIT STYLES */

/*GENERAL*/
 @import url("https://use.typekit.net/blx1jnt.css");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #205372;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  margin: 0;
  padding: 0;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

a {
  color: white;
  text-decoration: underline;
}

img {
  max-width: 300px;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  text-align: center;
  color: white;
}

/* LET'S GIVE BEM A GO */

/* BLOCKS */
.b-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.b-header__h1 {
  color: white;
  margin: 1rem;
}

.b-header__logo {
  height: 3rem;
  margin: 1rem;
}

.b-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.b-tile {
  background: white;
  margin: .5em;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
}

.b-tile__inner {
  padding: 1rem;
}

.b-tile__inner h3 {
  border-top: 1px solid black;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 2rem 0 .25rem;
}

.b-tile__inner--firstH3 {
  margin-top: 1rem !important;
}

.jubH3 {
  border-top: 1px solid black;
  height: 2rem;
  width: 100%;
  margin: 1rem 0 .75rem;
  background: no-repeat bottom left/65% url('assets/jubilat-medium.svg');
}

.b-tile__inner h4 {
  margin-bottom: 0;
}

.b-tile__inner p {
  margin: 0;
}

.b-tile__colorchip {
  padding: 1rem;
  color: white;
  margin: .5rem;
}

.b-tile__h1 {
  font-weight: 400;
}

.b-tile__h2 {
  background-color: #147FD7;
  color: white;
  width: 100%;
  margin: 0;
  padding: .5em;
}

.b-tile__p {
  margin: 1rem;
}

.b-tile--two {
  width: 50%;
}

.b-tile--bernie1jpg {
  background: white url('assets/bernie1.jpg') left no-repeat;
  background-size: 10rem;
  background-clip: content-box;
}

.b-tile--bernie1jpg--content {
  margin: 1rem 1rem 1rem 11rem;
}

.b-tile--bernie2jpg {
  background: #F55B5B url('assets/bernie2.jpg') right no-repeat;
  background-size: 10rem;
  background-clip: content-box;
}

.b-tile__p--bernie2jpg {
  color: white;
  margin: 1rem 11rem 1rem 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.b-tile--three {
  width: 33%;
  min-width: 300px;
}

/* MODIFIERS */
.--primary-bg {
  background-color: #147FD7;
}

.--primary {
  color: #147FD7;
}

.secondary-bg {
  background-color: #205372;
}

.--accent-bg {
  background-color: #F55B5B;
}

.--accent {
  color: #F55B5B;
}

.--accentSec-bg {
  background-color: #9B1E20;
}

.--bold {
  font-weight: 600;
}
